* {
  box-sizing: border-box;
}
body {
  background-color: black;
  color: lightblue;
  font-family: Muli, sans-serif;
  font-weight: 600;
  letter-spacing: 0.02em;
}
.center {
  text-align: center;
}
#previewer {
  position: relative;
}
textarea, #output {
  width: 40%;
  border:1px solid  black;
  margin-left: 6.66%;
  float: left;
  min-height: 500px;
  padding: 10px;
}
textarea {
  background: #202020;
  color: #ffcb4d;
}
#output {
  background: white;
  font-family: sans-serif;
  color: #303030;
}
